# Netlify Identity URL
# Substitua com seu site do Netlify
### Adicione a variavel em PRD nas configurações de "Environment variables" no Netlify
### https://app.netlify.com/projects/run-together/configuration/env#project-policies
VITE_NETLIFY_IDENTITY_URL=https://run-together.netlify.app/.netlify/identity
